body {
	font-family: 'Lato', sans-serif;
	background-color: white;
	margin: 0;
}

.navbar-default {
	background: transparent;
	border-color: transparent;

}

#logo {
	
	width: 42pt;
	height: 42pt;
	margin-top: 14pt;
	/*margin-left: 1%;*/
	float: left;

}

/* Buttons */

.loginButtons a:link, a:visited {
    color: white;
    padding: 6px 14px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    float: right;
}

.loginButtons a:hover, a:active {
    background-color: black;
    border-radius: 12px;

}



.button: hover {
	text-decoration: none;
	background-color: #e4e4e4;
    color: black;
    border-radius: 12px;
}

#loginButton {
	margin: 1%;
}

#signupButton {
	margin: 1%;
}


#blueprint {
	margin: 1%;
}


.row1 {
	height: 50pt
}

.row2 {
	height: 350pt;
}

.row2 h1 {
	color: white;
	position: relative;
	z-index: 1000;
    text-shadow: 2px 2px #143E5F;
}

.row2 em {
	margin-left: 42%;
}


#coil-vid-button {
	width: 175pt;
	margin-top: 150pt;
	border-radius: 25pt;
	background-color: #003C64;
	border-color: black;
	color: white;
	font-size: 17pt;
}

.row3 {
	min-height: 100pt;
	padding-bottom: 20pt;
}


.headline {
	font-size: 40pt;
	font-size: calc(12pt + 3vw); /*makes minimum font size*/
	padding-left: 17%;
	padding-right: 17%;
	padding-top: 4%;
	color: #494949;
}


/* typed.js starts here */
.type-wrap {
	font-size: 40pt;
	font-size: calc(12pt + 3vw); /*makes minimum font size*/
	padding-left: 17%;
	padding-right: 17%;
	padding-top: 4%;
	color: #494949;
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
        
@-webkit-keyframes blink{
  0% { opacity:1; }          
  50% { opacity:0; }
  100% { opacity:1; }
}
        
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/* typed.js ends here */

.row4 {
	min-height: 600pt;
	
}

#steps {
	height: 10%;
	width: 75%;
	margin: 5%;
	margin-left: 12%;
}

h2 {
	font-size: calc(12pt + 1vw);
}

.col-1 {
	padding-top: 30pt;
	
}

.col-2 {
	padding-top: 30pt;
	
}

.col-3 {
	padding-top: 30pt;
	
}
#students-image {
	width: 300pt;
	height: 200pt;
	margin: 5%;
	margin-left: 10%;
}

#scroll-down {
	color: gray;
}

.coils h1 {
	font-size: calc(12pt + 2vw)
}

.coils h3 {
	font-size: calc(12pt + .3vw);
	margin-bottom: 10%;
}

.row5 {
	min-height: 935pt;
	border-top: 1px solid;
	border-color: gray;
}


/* Confeti Background */
#confeti {
	width: 100%;
	height: 500pt;
	margin: 0;
	background-color: #143E5F;
	position: absolute;
	overflow: hidden;
	z-index: -100;
}
/* Confeti background ends here */



#coil-image {
	margin-top: 15%;
}

.coil-headline {
	margin-top: 15%;
	color: black;
	margin-right: 12%;
}

.row5 h3 {
	color: black;
	margin-right: 10%;
}

.row6 {
	min-height: 300pt;
	border-top: 1px solid;
	border-color: gray;
}

#tutoring-image {
	margin-top: 15%;
}

.tutoring-headline {
	margin-top: 15%;
}

.row7 {
	min-height: 300pt;
	border-top: 1px solid;
	border-color: gray;
}

#leaderboard-image {
	margin-top: 15%;
	height: 50%;
	width: 50%;
	margin-bottom: 15%;
}

.leaderboard-headline {
	margin-top: 15%;
}

.row8 {
	min-height: 300pt;
	border-top: 1px solid;
	border-color: gray;
}

#chit-chat-image {
	margin-top: 15%;
	height: 30%;
	width: 60%;
}

.chit-chat-headline {
	margin-top: 15%;
}

/*footer*/
#usingCoilFooter  {
	margin-top: 10%;
	color: #7C00B2;
  font-size: 150%;

}

#coilFooter {
	margin-top: 10%;
	color: #E14400;
  font-size: 150%;

}

#handyLinksFooter {
	margin-top: 10%;
	color: #00C7A1;
	font-family: 'Lato',sans-serif;
  font-size: 150%;


}

#toolBox {
	float: right;
	margin-right: 47%;
}

.footerLinks a {
	text-decoration: none;
	color: #778899;
	font-size: 90%;
	margin-bottom: 20%;
}


.footerLinks {
	margin-bottom: 10%;
	margin: 3%;
}
