body {
	font-family: sans-serif;
	background-color: gray;
}

#logo {
	width: 42pt;
	height: 42pt;
	margin-top: 14pt;
	margin-left: -5pt;
}

.navbar-default {
	background: transparent;
	border-color: transparent;
}

#proofCoilWorks {
	margin-top: 12%;
	background-color: transparent;
}